h5 {
  color: aliceblue;
}
.admin > .adminHeader {
  text-align: center;
  font-size: 34px;
}
.admin > .adminHeader > h3 {
  margin-top: 53px;
}
.admin > .adminContent {
  box-shadow: rgb(255 138 138 / 52%) 0px 1px 3px 0px,
    rgb(255 60 60) 0px 0px 0px 1px;
  /* border: 2px solid red; */
  width: 93%;
  margin: auto;
  padding-block: 50px;
  border-radius: 8px;
  padding-inline: 40px;
  margin-top: 10px;
  font-size: 12px;
}
.admin > .adminContent > .allreq {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  gap: 13rem;
}
.admin > .adminContent > .userName {
  text-align: center;
  color: #d9d9d9;
  font-size: 15px;
  margin-top: -23px;
  margin-bottom: 20px;
  /* color: #eb2f06; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* ; */
}
.admin > .adminContent > .userName > p {
  color: #eb2f06;
}
.admin > .adminContent > .allreq > .left {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  /* border: 2px solid red; */
  max-width: 30%;
  /* align-items: center; */
}
.admin > .adminContent > .allreq > .right {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width:40% ;
}
.admin > .adminContent > .allreq > .left > .gen {
  display: flex;
  align-items: baseline;
  font-size: 31px;
}
.admin > .adminContent > .allreq > .left > .gen > h3 {
  padding-right: 14px;
  font-size: 27px;
}

.admin > .adminContent > .allreq > .left > .age {
  display: flex;
  align-items: baseline;
  font-size: 31px;
}
.admin > .adminContent > .allreq > .left > .age > h3 {
  padding-right: 45px;
  font-size: 27px;
}
.admin > .adminContent > .allreq > .left > .height {
  display: flex;
  align-items: baseline;
  font-size: 31px;
}
.admin > .adminContent > .allreq > .left > .height > h3 {
  padding-right: 20px;
  font-size: 27px;
}
.admin > .adminContent > .allreq > .left > .weight {
  display: flex;
  align-items: baseline;
  font-size: 31px;
}
.admin > .adminContent > .allreq > .left > .weight > h3 {
  padding-right: 15px;
  font-size: 27px;
}

.admin > .adminContent > .allreq > .left > .fat {
  display: flex;
  align-items: baseline;
  font-size: 31px;
}
.admin > .adminContent > .allreq > .left > .fat > h3 {
  padding-right: 50px;
  font-size: 27px;
}

.admin > .adminContent > .allreq > .right > .situation {
  display: flex;
  /* align-items: center; */
  font-size: 31px;
  justify-content: space-between;
}
.admin > .adminContent > .allreq > .right > .situation > h3 {
  padding-right: 30px;
  font-size: 27px;
}
.admin > .adminContent > .allreq > .right > .situation > h5 {
  width: 67%;
  text-align: justify;
}
.admin > .adminContent > .allreq > .right > .active {
  display: flex;
  /* align-items: center; */
  gap: 48px;
  font-size: 31px;
  justify-content: space-between;
}
.admin > .adminContent > .allreq > .right > .active > h3 {
  padding-right: 30px;
  font-size: 27px;
}
.admin > .adminContent > .allreq > .right > .active > h5 {
  width: 75%;
  text-align: justify;
}
.admin > .adminContent > .allreq > .right > .phys {
  display: flex;
 gap: 22px;
  font-size: 31px;
  justify-content: space-between;
}
.admin > .adminContent > .allreq > .right > .phys > h3 {
  padding-right: 30px;
  font-size: 27px;
}
.admin > .adminContent > .allreq > .right > .phys > h5 {
  width: 72%;
  text-align: justify;
}
.admin > .adminContent > .allreq > .rightmostpart {

  display: flex;
  flex-direction: column;
  row-gap: 34px;
  /* align-items: end;
   */
   max-width:20% ;
}
.admin > .adminContent > .allreq > .rightmostpart > .time {
  display: flex;
  align-items: baseline;
  font-size: 31px;
}
.admin > .adminContent > .allreq > .rightmostpart > .time > h3 {
  font-size: 27px;
  padding-right: 30px;
}
.admin > .adminContent > .allreq > .rightmostpart > .time > h5 {
  width: 67%;
}
.admin > .adminContent > .allreq > .rightmostpart > .Place {
  display: flex;
  align-items: baseline;
  font-size: 31px;
}
.admin > .adminContent > .allreq > .rightmostpart > .Place > h3 {
  padding-right: 30px;
  font-size: 27px;
}
.admin > .adminContent > .allreq > .rightmostpart > .Place > h5 {
  width: 67%;
}
.admin > .adminContent > .allreq > .rightmostpart > .prevent {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 31px;
}
.admin > .adminContent > .allreq > .rightmostpart > .prevent > h3 {
  padding-right: 30px;
  font-size: 27px;
}
.prevent_text{
  color: white;
  width: 300px;
  word-wrap: break-word;
  
}

.admin > .adminContent > .allreq > .rightmostpart > button {
  height: 42px;
  width: 100%;
  font-size: 10px;
  color: #d9d9d9;
  background: linear-gradient(217deg, red 100%, transparent );
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid red;
  transition: all 0.3s ease-in-out;
}

.admin > .adminContent > .allreq > .rightmostpart > button:hover {
  background: none;
  color: #eb2f06;
}
