@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oswald&display=swap");

body {
  font-family: "Oswald", sans-serif;
  background-color: #222121;
}

.container {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background-color: black;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;
  color: white;
}

p {
  text-align: center;
}

.link {
  color: white;
}

h2 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 20px;
  color: red;
  font-size: 40px;
}

.form-group {
  margin-bottom: 15px;
  margin-right: 30px;
  align-items: center;
}

.form-group label {
  margin-bottom: 5px;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.form-group .login {
  height: 42px;
  font-size: 18px;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid red;
  transition: all 0.3s ease-in-out;
  width: 105%;
  padding: 8px;
  background-color: red;
  color: #ffffff;
  border-radius: 6px;
}
.form-group .login:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid red;
  color: red;
}

.user {
  padding-left: 5px;
}

.userbut {
  margin-right: 15px;
}

.admin {
  padding-left: 5px;
}

.adminbut {
  margin-right: 15px;
}
