.checkout-form {
  color: white;
  border: 2px solid red;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  margin: 0 auto;
}

.checkout-form h2 {
  color: red;
}

.checkout-form > p {
  text-align: start;
}

.checkout-form input,
.checkout-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.checkout-form .buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.checkout-form .buttons button[type="submit"] {
  background-color: red;
  color: white;
  margin-left: 37px;
  margin-right: 0px;
}

.checkout-form .buttons button[type="button"] {
  background-color: rgb(255, 0, 0);
  color: white;
}

.checkout-form .buttons button:hover {
  background-color: darkred;
  cursor: pointer;
}
